body {
    height: 100vh;
    background-image: linear-gradient(rgba(97, 69, 99, 0.5), rgba(240, 217, 242, 0.5)),
    url("https://images.unsplash.com/photo-1586211070543-61ae1ad4a665?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGRhbmNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(97, 69, 99, 0.5);
    box-shadow: inset 0 0 5rem rgba(97, 69, 99, 0.5);
}
.cover-container {
  max-width: 60vw;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgb(240, 223, 241);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
    font-weight: 700;
    color:  rgb(240, 223, 241);
    border-bottom-color:rgb(240, 223, 241);
}

.nav-link.active {
    color:  rgb(240, 223, 241);
    border-bottom-color; rgb(240, 223, 241):

}

.btn-secondary, .btn-secondary:hover{
    color: #333;
    text-shadow: none;
}

.text-purple {
    color: rgb(61, 15, 61);
  }
  